body{
    padding: 0;
    margin: 0;
    color:#242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color:#000;
}
.wrapper{
    width:100% ;
    margin: 0 auto;
}
main{
   display: block; 
   background-color: #fff;
}
.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
section.module p{
margin-bottom: 40px;
}
section.module:last-child{
  margin-bottom: 0;  
}
section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}
section.module.content{
    padding: 40px 0;
    background: #b7d7e7;
}
section.module.parallax{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh !important;
      width: 100%;
      position: relative;
      overflow: hidden;
      background-position:50% 50% ;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;  
}
section.module.parallax::after{
     content: "";
     height: 100%;
     width: 100%;
     position: absolute;
     z-index: 8;
     background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)40%,#000 120%);

}
section.module.parallax-1{
background-image: url(https://www.r7.com/r7/media/pdf/gremio_1280x1024.jpg
)
}
section.module.parallax-2{
    background-image: url( https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2017/12/31/gettyimages-882134648.jpg  )
    }


section.module.parallax-3{
    background-image:url(https://www.rbsdirect.com.br/imagesrc/25219958.jpg?w=580
        
    ) ;
}
section.module.parallax-4{
    background-image:url(https://conteudo.imguol.com.br/c/esporte/15/2016/11/24/o-goleiro-marcelo-grohe-comemora-gol-do-gremio-contra-o-atletico-mg-no-mineirao-1479953665974_615x300.jpg
        
    ) ;
}
section.module.parallax-5{
    background-image:url(https://imagens.brasil.elpais.com/resizer/Zz9JVEewrkI_twCGRLapLK143vQ=/414x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/KYYQ7RF4YDUYLKOQRJU5U4MRTA.jpg
        
    ) ;
}
section.module.parallax-6{
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Lg-noticias-dia-de-gra-mio--de-abertura-da-arquibancada-e-de-fazer-a-arena-inteira-cantar-com-a-norte-32701.jpg/800px-Lg-noticias-dia-de-gra-mio--de-abertura-da-arquibancada-e-de-fazer-a-arena-inteira-cantar-com-a-norte-32701.jpg
        
    ) ;
}
section.module.parallax h1{
    color: #fff;
    text-align: center;
    font-size: 100px;
    z-index: 50;
    text-transform: uppercase;
}